body {
    background: url('../img/miley_cyrus_wallpaper.jpg') no-repeat;
    background-size: cover;
    background-position: 50% 10%;
    height: 100vh;
    margin: 0;
}

body, html {
    overflow: hidden;
    height: 100%;
}

#choose {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.h1 {
    font-size: 25pt;
    margin: 2vw;
    padding: 1vw;
    color: rgb(255, 255, 255);
}

.Miley_button {
    padding: 1vw;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    background: url('../img/miley_cyrus_profil.jpg');
    background-position: 50% 50%;
    background-size: cover;
    border: none;
    color: rgba(129, 31, 31, 0);
    position: relative;
    top: 3vw;
}

#divas {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    bottom: 15vh;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

button {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: 15pt;
    padding: 1vw;
}

.h1:hover {
    font-size: 27pt;
}

.Miley_button:hover {
    color: rgba(0, 0, 0, 0);
}

button:hover {
    color: rgb(255, 251, 0);
    transform: translateY(-0.5vw);
    cursor: pointer;
    font-size: 17pt;
}

.yourArtist {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pickMiley {
    position: relative;
    top: 3vw;
}
