*{
    margin: 0;
}
html{
    height: -webkit-fill-available;
}

body{
    background: url('../img/lady_gaga_wallpaper.jpg') no-repeat;
    background-size: cover;
    background-position: 55% 100%;
    height: 100vh;
    height: -webkit-fill-available;
    margin: 0;
}

#choose{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.h1{
    font-size: 25pt;
    margin: 2vw;
    padding: 1vw;
    color: rgb(210, 19, 19);
}

.Gaga_button{
    padding: 1vw;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    background: url('../img/lady_gaga_profil.jpg');
    background-position: 50% 50%;
    background-size: cover;
    border: none;
    color: rgba(129, 31, 31, 0);
    position: relative;
    top: 5vw;
}

#divas{
    position:absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    bottom: 15vh;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

button{
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: 15pt;
    padding: 1vw;
}

.h1:hover{
    font-size: 27pt;
}

.Gaga_button:hover{
    color: rgb(0, 0, 0, 0);
}

button:hover{
    color: rgb(0, 255, 17);
    transform: translateY(-0.5vw);
    cursor: pointer;
    font-size: 17pt;
}

.yourArtist{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pickGaga{
    position: relative;
    top: 5vw;
}