body{
    height: 100vh;
    margin: 0;
}
#choose{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.h1{
    font-size: 25pt;
    margin: 20px;
    padding: 5px;
    color: rgb(0, 0, 0);
}

.yourChoise{
    display: flex;
    flex-direction: column;
    align-items: center;
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom:40%;
}

#yourChoise{
    font-size: 12pt;
}

#gif{
    width: 150px;
    height: auto;
    border: none;
}

#divas{
    position:absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

button{
    border:none;
    background-color: rgb(0, 0, 0, 0);
    color: black;
    font-size: 12pt;
}

.h1:hover{
    font-size: 27pt;
}

button:hover{
    color: rgb(230, 174, 228);
    transform: translateY(-5px);
    cursor:pointer;
    font-size: 18pt;
}



@media (hover: none) {
    .h1:hover{
        font-size: 25pt;
    }
    button:hover{
        color: black;
        transform: translateY(0px);
        cursor:none;
        font-size: 12pt;
    }
    #gif{
        width: 400px;
        height: auto;
        border: none;
    }
    #yourChoise{
        font-size: 16pt;
    }
}